<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="authUser" type="com.javarush.jira.login.AuthUser"*/-->

<th:block th:replace="~{layout/main::page(title=#{index.block.title},appMain=~{::appMain})}">
    <appMain>
        <script th:inline="javascript">
            function changeLang(lang) {
                var urlParams = new URLSearchParams(window.location.search);
                urlParams.set('lang', lang);
                window.location.href = window.location.pathname + '?' + urlParams.toString();
            }
        </script>
        <h1 th:text="#{home.page.title}"></h1>
        <button class="btn btn-primary btn-lg mt-3" type="button" onclick="changeLang('ua')">Українська</button>
        <button class="btn btn-primary btn-lg mt-3" type="button" onclick="changeLang('en')">English</button>
        <button class="btn btn-primary btn-lg mt-3" type="button" onclick="changeLang('de')">Deutsch</button>
        <button class="btn btn-primary btn-lg mt-3" type="button" onclick="changeLang('zh')">中文</button>
        <button class="btn btn-primary btn-lg mt-3" type="button" onclick="changeLang('ar')">العربية</button>
        <div th:if="${authUser} != null">
            <form action="/ui/logout" method="post">
                <button class="btn btn-primary btn-lg mt-3" type="submit">Logout</button>
            </form>
        </div>
    </appMain>
</th:block>
